@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Schaffner Crafts</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <img src ="../wwwroot/res/sloth_PETS.jpg" alt="sloth" />
    <img src="https://www.wwf.org.uk/sites/default/files/styles/gallery_image/public/2022-05/_WW190596.jpg?h=2b4651f5&itok=FpDHPlWj"  width="400px"/>

</div>
